*{
    margin: 0;
    box-sizing: border-box;
}
.wrapper {
   
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    border: 1px solid gray;
    min-height: 90vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 4vw;
    margin: 20px 0;
}
.header-img {
    height: 26rem;
    width: 88%;
}

.header-link {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 4px;
    width: 88%;
}

.header {
    width: 100%;
    display: flex;
    justify-content: end;
    position: relative;
}


.logo-img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.link a {
    color: ivory;
    margin: 0 7px;
    font-size: 14px;
}
.img-texts {
    position: absolute;
    top: 24%;
    right: 50%;
}
.img-text {
    font-size: 3.7vw;
    -webkit-text-stroke: medium;
    opacity: .7;
}
.img-text1 {
    color: #6f826f;
}
.img-text2 {
    color: #4e4585;
    letter-spacing: .32vw;
}
.section-link {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.section-logo {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 600;
}
.logo-text1 {
    color: #6f826f;
}
.logo-text2 {
    color: #4e4585;
    letter-spacing: .18vw;
}
.link-section a {
    color: darkslateblue;
}


.section {
    width: 88%;
}
.image-container {
   
width: 100%;
   
height: 26rem;
   
position: relative;
   
overflow: hidden;
}
.image-dots {
    position: absolute;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
}

.btn {
    border-radius: 50%;
    height: 6px;
    width: 6px;
    display: inline-block;
    border: none;
    cursor: pointer;
    background: #fff;
    color: transparent;
    margin: 2px;
}
.btn:hover{
    background-color: burlywood;
}
.images {
    display: flex;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}
.corosol-img {
    width: 100%;
    height: 706px;
}
.image-small {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    background: #3c4a61b0;
    justify-content: center;
    padding-top: 1vw;
    height: 10vw;
}
.small-images {
    width: 54vw;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 0.2vw;
}

.small-img {
    width: 23%;
    height: 6.7vw;
}
.section-img-text {
    position: absolute;
    top: 4%;
    left: 22%;
}

.bold-text1 {
    font-size: 8vw;
    -webkit-text-stroke: thin;
    color: #595969;
}

.bold-text2 {
    font-size: 2vw;
    font-weight: 600;
    display: inline-block;
    position: absolute;
    top: 47%;
    left: 16%;
    color: #5a1a6b;
}

.section-bold-text {
    position: relative;
    margin-bottom: -14px;
}

.section-text {
    font-size: 12px;
    margin: 0 4vw;
    color: #0c18188f;
}
.footer {
    width: 88%;
}
.footer-bold-text {
    position: relative;
    margin-bottom: -14px;
}
.footer-img-text {
    width: 70%;
    margin:14px auto;
    display: flex;
    align-items: center;
}

.footer-bold-text1 {
    font-size: 8vw;
    -webkit-text-stroke: thin;
    color: #595969;
}

.footer-bold-text2 {
    font-size: 2vw;
    font-weight: 600;
    display: inline-block;
    position: absolute;
    top: 47%;
    left: 84%;
    color: #5a1a6b;
}

.section-bold-text {
    position: relative;
    margin-bottom: -14px;
}

.footer-text {
    font-size: 12px;
    color: #0c18188f;
    margin-left: 6vw;
    margin-top: 1vw;
}

.foo-section-img {
    width: 100%;
    height: 26rem;
}

.ftr-header {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: darksalmon;
    padding-left: 8vw;
    color: #fff;
}
.mountain1 {
    background: crimson;
    padding: 0.4vw;
}

.ftr-footer {
    background: darkgoldenrod;
    margin-top: -4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


